// Container & Breakpoints
@use "sass:math";
$containerWidth: 1150;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint720: 719.98+px;
$breakpoint580: 579.98+px;
$breakpoint500: 499.98+px;
$breakpoint480: 479.98+px;

// Burger Menu 
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Montserrat', sans-serif;
$fontSecondary: '';